## Practical 5 - Examples

- From list to dictionary to pandas dataframe
- View basics metrics of a dataframe
- Select specific data points of a dataframe

### Step 1 - Review Dictionaries

In [ ]:
# Create 3 lists
city = ['Lausanne','London','Florence','Lyon','Rotterdam','Berlin']
country = ['Switzerland','England','Italy','France','Netherlands','Germany']
country_code = ['CH','UK','IT','FR','NL','DE']

In [ ]:
# Create a dictionary from the 3 above lists
eu_dict = {'city':city,'country':country,'country_code':country_code}

In [ ]:
# How to find out in which country is Florence?

# 1. First let find the index related to Florence
index_florence = eu_dict['city'].index('Florence')
print(f'Florence data are related to index number {index_florence}')

# 2. Then use the index to find in which country is Florence
country_florence = eu_dict['country'][index_florence]
print(f'Florence is located in {country_florence}')

### Step 2 - From lists and dictionaries to Pandas Dataframe

- From one list to a dataframe
- From multiple lists to a dataframe
- What are the similarity between creating dictionaries and dataframes?
- From dictionary to dataframe

In [ ]:
import pandas as pd

In [ ]:
# Create a dataframe from a list
v0_city_df = pd.DataFrame(city)
v0_city_df

In [ ]:
# Create a dataframe using multiple lists!
v1_eu_df = pd.DataFrame(list(zip(city, country, country_code)))
v1_eu_df

##### **With dictionary we define *KEYS* - With dataframe we define *COLUMN NAMES***

In [ ]:
# Define column names while creating a dataframe
v0_city_df = pd.DataFrame(city, columns=['city'])

v1_eu_df = pd.DataFrame(list(zip(city, country, country_code)),
                         columns = ['City','Country','Country_Code'])

In [ ]:
v0_city_df

In [ ]:
v1_eu_df

In [ ]:
# Create a dataframe from a dictionary (here we use the predefined eu_dict)
v2_eu_df = pd.DataFrame(eu_dict)
v2_eu_df

## Let's rename the dataframe for futher use!
df = v2_eu_df

### Step 3 - Adding values to Pandas DataFrame
- Understand the different in-built pandas function:
    - pd.concat()
    - df.append()
    - df.iloc[]
    - df.loc[]

**Keep in Mind**
- Add a row to a dataframe: ***To add a row to a dataframe, you need to already know the columns of the dataframe***
- Read more: https://www.stackvidhya.com/add-row-to-dataframe/

##### Find the Columns of a Dataframe

In [ ]:
# Option 1 - Call .columns
df.columns

In [ ]:
# Option 2 - Call .head() - 0 indicate the number of rows to print. 
df.head(0)
df[0]

In [ ]:
# Let's create a list and a dictionary for our following examples!
row_madrid = ['Madrid','Spain','ES']
dict_madrid = {'city':['Madrid'],'country':['Spain'],'country_code':['ES']}

#### Overview - pd.concat()

Parameters with concat():
- Concatenates two dataframes into one! 
- Take list of dataframes that need to be concatenated
- axix=0 Mean that rows of the dataframe need to be converted.

In [ ]:
# Let's try to use concat() with a list! 
df_concat = pd.concat([df,row_madrid])
df_concat

In [ ]:
# Let's try to use concat() with a pd.Series! 
df_concat = pd.concat([df,(pd.DataFrame(dict_madrid))], ignore_index = True, axis = 0)
df_concat

#### Overview - df.append() 

Parameters with append():
- take a dictionary, a pandas series or a dataframe as "new row" object. Does not work with lists
- "ignore_index = True" Index of the target df will be used.

In [ ]:
# Let's try to use append with a list! 
v0_df_append = df.append(row_madrid)
v0_df_append

In [ ]:
# Let's try to use append with a dictionary! 
v1_df_append = df.append(dict_madrid)
v1_df_append

In [ ]:
# Let's try to use append with a dictionary and add ingore_index! 
v1_df_append = df.append(dict_madrid, ignore_index=True)
v1_df_append

#### Overview - iloc[] 

Parameters with iloc[]:
- Add a row in the dataframe using **integer-based index** 
- Use iloc[] to assign new rows at a specific interger index (e.g 0,1,2). 
- iloc[] DOES NOT expand the size of the dataframe automatically. Use iloc[] to add a row ONLY IF the dataframe have already a row in the position, can be an empty row.

In [ ]:
# Let's see what is the length of our dataframe
print(f'The lenght of our dataframe is {len(df)}')

In [ ]:
# Let's try to add the Madrid row at index 6 (Remember len()-1)!
df.iloc[6] = row_madrid

In [ ]:
# Ok! Let's add the Madrid city row at Berlin index 5!
print("Our current dataset is:")
print(df)

print("")
print("Our new dataset is: ")
df.iloc[5] = row_madrid
print(df)

#### Overview - loc[] 

Parameters with loc[]:
- Add a row in the dataframe using **index label**
- Use loc[] to assign new rows with a specific index label (e.g "a","b","c"). 
- loc[] DOES expand the size of the dataframe automatically. Unlike iloc[] method.

In [ ]:
# Let's add Berlin row back to our dataframe and add a few other cities!
row_berlin = ['Berlin','Germany','DE']
df.loc[0] = row_berlin

# Add a row at a specific index label!
print(df)

In [ ]:
#Let's add some other cities to our dataframe! 
cities_germany = pd.DataFrame({'city':['Munich','Hamburg','Frankfurt','Dresden'],
                               'country':['Germany','Germany','Germany','Germany'],
                               'country_code':['DE','DE','DE','DE']})
df = df.append(cities_germany, ignore_index=True)
df

#### Overview - Add a column to a dataframe

- By using insert(), loc[], concat()

In [ ]:
## Find out the shape of our dataframe
df.shape

In [ ]:
## By using insert()
df.insert(loc=3, column='lat', value=[52.52, 51.50, 43.77, 45.76, 51.92, 40.41, 48.14, 53.55, 50.11, 51.05])
df

In [ ]:
## By using loc[]
df.loc[:, "long"] = [13.41, 0.13, 11.26, 4.84, 4.48, 3.70, 11.58, 9.99, 8.68, 13.73]
df

In [ ]:
## By using df['...']
df['time_zone'] = ['GMT+1', 'GMT+0', 'GMT+1','GMT+1','GMT+1','GMT+1','GMT+1','GMT+1','GMT+1','GMT+1']
df['population'] = [3645000, 8982000, 382258, 513275, 624652, 3223000, 1472000, 1841000, 753056,554649]
df

In [ ]:
# Let's create a set of tuple to add lat, long to our dataframe!
latlong = [(52.52, 13.41),(51.50, 0.13),(43.77, 11.26), 
            (45.76, 4.84),(51.92, 4.48),(40.41, 3.70)]
latlong

In [ ]:
# Let's transform our set of tuples into a datframe with 2 columns
df_latlong = pd.DataFrame(latlong, columns = ['lat','long'])
df_latlong

In [ ]:
# Concat our two dataframes into one!
# What was our steps? 
### 1. Create a dataframe from a set of tuples
### 2. Concat both dataframes into a new one
df_new = pd.concat([df, df_latlong], axis=1)
df_new

### Step 4 - Exploratory Data Analysis with Pandas
1. Open dataset pd.read_csv()
2. Basics metrics of the dataset df.shape
3. Discover dataset
4. Visualise dataset

#### Basics metrics 
- len(df) and df.shape 
- df.head() and df.tail() - View the 5 first and 5 last rows of a df
- df.info() - View all column names an their data types
- df.describe() - Get a sense of the values in a df

In [ ]:
## View the length and shape (row x columns) of a df
length_df = len(df)
shape_df = df.shape
print(f'The length (number of row) of the dataframe is {length_df}.')
print(f'The shape (nb. of rows x columns) of the dataframe is {shape_df}.')

In [ ]:
# Get an idea of the df!
df.head()

In [ ]:
## Display all columns and their data types
df.info()

In [ ]:
## Basic descriptive statics for all numeric columns
df.describe()

In [ ]:
# Find only the row for the city of Madrid. 
df[df['city']== 'Lyon']

In [ ]:
## Find out the row in the dataframe situated the further south!
df[df['lat'] == df['lat'].min()]

In [ ]:
## Find out the row in the dataframe situated the further east!
df[df['long'] == df['long'].max()]

In [ ]:
## Find out the cities with a population greater than 1 million people
df[df['population'] > 1000000]

In [ ]:
## Find out the cities with less than 500,000 habitants.
df[df['population'] < 500000]

##### Explore .count() and .value_counts()

In [ ]:
df['country'].count()

In [ ]:
# What is the difference between count() and value_counts()
print('Using the .count() method:')
print(df['country'].count())
print("")
print('Using the .value_counts() method:')
print(df['country'].value_counts())

In [ ]:
## What does the parameter "ascending" do?
df['country'].value_counts(ascending=True)

In [ ]:
## What does the parameter sort_index(ascending)" do?
df['country'].value_counts().sort_index(ascending=True)

In [ ]:
##Â What does the parameter .to_frame() do?
df['country'].value_counts().sort_index(ascending=True).to_frame()

##### Explore groupby() -> Think of it as "Split-Apply-Combine"

In [ ]:
df.groupby('country')

In [ ]:
# Ok! The .groupby() alone doesn't do any operations! We use to do something more!
# Think of the split, apply, combine
# Split the df by country
# Apply to each country df some operations - here count the city
# Combine the results!
df.groupby('country')['city'].value_counts()

## Step 5 - Practical
- Open Dataset
- Explore value_counts(), groupby()
- Explore matplotlib

In [ ]:
# Set download URL
# You may want to check that this shows you 'raw' data if you
# get errors about the first line being HTML!
url = 'https://github.com/jreades/i2p/raw/master/data/src/2020-08-24-listings.csv.gz'

# your code here
import pandas as pd
df = pd.read_csv(url, compression='gzip', low_memory=False)

In [ ]:
df.shape

In [ ]:
## Here we have 74 columns - the screen will not display all columns. 
## We can confifure pandas to display all columns
pd.set_option("display.max.columns", None)